@model PriceQuotationModel

@{
    ViewData["Title"] = "Price Quotation";
}

<div class="main-div">
    <div class="container price-quotation-div">
        <div>
            <h1 class="price-quotation-heading text-center">Price Quotation</h1>

            <form asp-action="Index" method="post">
                <div class="row price-quotation-label-input-div mb-3">
                    <div class="col-md-6">
                        <label class="text-black price-quotation-label">Subtotal :</label>
                    </div>
                    <div class="col-md-6">
                        <input asp-for="SubTotal" type="text" class="form-control price-quotation-input" />
                        @* <span asp-validation-for="SubTotal" class="col text-danger"></span> *@
                    </div>
                </div>

                <div class="row price-quotation-label-input-div mb-3">
                    <div class="col-md-6">
                        <label class="text-black price-quotation-label">Discount Percentage :</label>
                    </div>
                    <div class="col-md-6">
                        <input asp-for="DiscountPercent" type="text" class="form-control price-quotation-input" />
                        @* <span asp-validation-for="DiscountPercent" class="col text-danger"></span> *@
                    </div>
                </div>

                <div class="row price-quotation-label-input-div mb-3">
                    <div class="col-md-6">
                        <label class="price-quotation-label">Discount Amount :</label>
                    </div>
                    <div class="col-md-6">
                        <label class="price-quotation-label">
                            $@(ViewBag.DiscountAmount ?? "0.00")
                        </label>
                    </div>
                </div>

                <div class="row price-quotation-label-input-div mb-3">
                    <div class="col-md-6">
                        <label class="price-quotation-label">Total:</label>
                    </div>
                    <div class="col-md-6">
                        <label class="price-quotation-label">
                            $@(ViewBag.Total ?? "0.00")
                        </label>
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col text-center">
                        <input id="calculate" type="submit" value="Calculate" class="button" />
                        <a asp-action="Index" class="button1">Clear</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="mt-5 pt-3">
        <div class="container price-quotation-another-div">
            <div class="jumbotron jumbotron-fluid text-white text-center py-5 mb-4">
                <div class="container">
                    <h1><i class="fas fa-money-bill-alt"></i> Price Quotation</h1>
                </div>
            </div>

            <div class="container">
                <form asp-action="Index" method="post">
                    <div class="row form-group align-items-center">
                        <label class="col-sm-3 col-form-label text-sm-right">Subtotal:</label>
                        <div class="col-sm-5">
                            <input asp-for="SubTotal" class="form-control" />
                        </div>
                        <div class="col-sm-4">
                            <span asp-validation-for="SubTotal" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row form-group align-items-center">
                        <label class="col-sm-3 col-form-label text-sm-right">Discount percent:</label>
                        <div class="col-sm-5">
                            <input asp-for="DiscountPercent" class="form-control" />
                        </div>
                        <div class="col-sm-4">
                            <span asp-validation-for="DiscountPercent" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row form-group align-items-center">
                        <label class="col-sm-3 col-form-label text-sm-right">Discount amount:</label>
                        <div class="col-sm-6">
                            <p class="form-control-plaintext">$@(ViewBag.DiscountAmount ?? "0.00")</p>
                        </div>
                        <div class="col-sm-3"></div>
                    </div>

                    <div class="row form-group align-items-center">
                        <label class="col-sm-3 col-form-label text-sm-right">Total:</label>
                        <div class="col-sm-6">
                            <p class="form-control-plaintext">$@(ViewBag.Total ?? "0.00")</p>
                        </div>
                        <div class="col-sm-3"></div>
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-custom mr-2">Calculate</button>
                            <a asp-action="Index" class="btn btn-custom">Clear</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
